*{ 
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Lucida Grande";
}
a {
    text-decoration: none;
}
.clear {
    clear:left;
}
.container {
    /*width: 1170px;*/
    max-width: 1170px;
    width: 100%; 
    padding: 0 15px;
    margin: 0 auto;
}
.top-wrapper {
    padding: 180px 0 100px 0; 
    color:black;
    background-image: url(https://image.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg);
    background-size: cover;
    text-align: center;
}
.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px; 
    letter-spacing: 5px;
    margin-bottom: 10px
}
.top-wrapper p {
    opacity: 0.7; 
    margin-bottom: 3px;
}
.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.7;
    border-radius: 4px;
}
.signup {
    background-color:#239b76;
}
.facebook {
    margin-right: 10px;
    background-color:#3b5998;
}
.twitter {
    background-color:red;
}
.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}
.btn-wrapper p {
    margin: 10px 0;
}
.btn:hover {
    opacity: 1;
}
.fa {
    margin-right: 5px;
}
header {
    height: 65px; 
    width: 100%;
    background-color:rgba(34, 49, 52, 0.7);
    position:fixed; 
    top:0;
    z-index:10;
}
/*.logo {
    width: 50px; 
    margin-top: 20px
}*/
.icon {
    height: 20px;
    float: left;
    margin-right: 5px;
}
.home {
    font-family:monospace;
    font-size: 50px;
    color:floralwhite;
    opacity: 0.8;
    font-weight: bold;
}
.home:hover {
    opacity: 1;
}
.header-left {
    float:left;
}
.header-right {
    float: right;
    background-color:rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}
.header-right:hover {
    background-color:rgba(255, 255, 255, 0.5);
}
.header-right a {
    font-size: 20px;
    line-height: 65px;
    padding: 0 25px;
    color: white ; 
    display:block;
    font-weight: bold;
}
.lesson-wrapper {
    /*height: 500px;*/
    padding-bottom: 80px;
    background-color:peachpuff;
    text-align: center;
}
.lesson {
    float : left; 
    width: 25%;
}
.lesson-icon {
    position: relative;
}
.lesson-icon p {
    position: absolute;
    /*top: 70px;*/
    top: 44%;
    width: 100%;
    color: white;
    /*font-size: 20px;
    font-weight: bold;*/
}
.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color:gray;
}
.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color:#5f5d60
}
.heading h2 {
    font-weight:normal;
}
.message {
    padding: 15px 40px;
    background-color:gold;
    cursor: pointer;
    box-shadow:5px 5px black;
}
.heading h3 {
    font-weight: normal;
}
.message-wrapper {
    border-bottom:1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
    background-color: lightblue;
}
.message-wrapper .btn {
    font-weight: bold;
    font-size: 25px;
    color:darkslategrey;
}
.message:active { 
    box-shadow:none; 
    position:relative; 
    top:7px;
}
footer {
    padding-top:30px;
    background-color: slategrey;
}
/*footer img {
    width:125px
}*/
footer p {
    color:cornsilk; 
    font-size: 15px;
    padding-bottom: 10px;
}
